<!DOCTYPE html>
<html lang="en">

<head>
  <title>Get Data page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="container">
    <div class=" row justify-content-center">
      <div class="col-sm-6 mt-4">
        <h2>Get Data form</h2>
        <form action="/dashboard/editEmployeeData" method="POST">
          <div class="form-group">
            <label for="FirstName">FirstName:</label>
            <input type="text" class="form-control" placeholder="Enter FirstName" name="FirstName" id="FirstName">

            <label for="LastName">LastName:</label>
            <input type="text" class="form-control" placeholder="Enter LastName" name="LastName" id="LastName">

            <label for="ContactNo">ContactNo:</label>
            <input type="text" class="form-control" placeholder="Enter ContactNo" name="ContactNo" id="ContactNo">

            <label for="Address">Address:</label>
            <input type="text" class="form-control" placeholder="Enter Address" name="Address" id="Address">

            <label for="Emergency_Contact_Name">Emergency_Contact_Name:</label>
            <input type="text" class="form-control" placeholder="Enter Emergency_Contact_Name" name="Emergency_Contact_Name" id="Emergency_Contact_Name">

            <label for="Emergency_Contact_Number">Emergency_Contact_Number:</label>
            <input type="text" class="form-control" placeholder="Enter Emergency_Contact_Number" name="Emergency_Contact_Number" id="Emergency_Contact_Number">

            <label for="Emergency_Relation">Emergency_Relation:</label>
            <input type="text" class="form-control" placeholder="Enter Emergency_Relation" name="Emergency_Relation" id="Emergency_Relation">

            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>